.post{
    margin: auto;
    width: 80%;
    height: 40%;
    display: flex;
    align-items: center;
    border-bottom: 1px rgb(229, 229,229) solid;
}

div .img {
    width: 180px;
    height: 180px;
    background-color: rgb(229, 229,229);
    margin: 0 1rem;
}
.post-content{
    height: 180px;
}
.post-content h3{
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
}
.post-content p {
    margin-top: 0;
    font-size: 1rem;
}

.post-content a{
    color: rgb(226, 131, 56);
}
/*responsive 1360px */
@media(max-width: 1360px){
    .post-content h3{
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
}

/* responsive 1000px */
@media (max-width: 1000px){
    .post{
        
        width: 90%;
        height: 15rem
    }
    
    div .img {
        width: 150px;
        height: 150px;
    }
    .post-content{
        height: 150px;
    }
    .post-content h3{
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
    .post-content p {
        margin: 0;
        font-size: 0.8rem;
    }
    
    .post-content a{
        color: rgb(226, 131, 56);
        margin-top: 1rem;
    }
}
/* responsive 600px */
@media (max-width: 600px){
    .post{
        width: 90%;
        height: 10rem;
        margin-top: 0.5rem;
    }
    
    div .img {
        width: 80px;
        height: 80px;
    }
    .post-content{
        height: 150px;
    }
    .post-content h3{
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }
    .post-content p {
        margin: 0;
        font-size: 0.7rem;
    }
    
    .post-content a{
        color: rgb(226, 131, 56);
        margin-top: 1rem;
        font-size: 0.9rem;
    }
}